  .nav-bar-color {
    background-color:#0277bd;
    color: #ffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  
  .example-icon {
    padding: 0 1px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

  .cabecalho {
    padding-top: 10px;
    background: #B0C4DE;
  }
  
  .cabecalho h2 {
    color: white;
    font-size: 30px;
    font-weight: bold;
  }
  
  .cabecalho p {
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-top: -25px;
    margin-bottom: -3px;
    padding-bottom: 20px;
  }
  
  .center {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
    padding: 3px;
  }
  
  .divider-custom {
    margin: 1rem 0 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
  }
  
  .divider-custom .divider-custom-line:first-child {
    margin-right: 1rem;
  }
  
  .divider-custom .divider-custom-line:last-child {
    margin-left: 1rem;
  }
  
  .divider-custom .divider-custom-line {
    width: 100%;
    max-width: 17rem;
    height: .55rem;
    background-color: #0277bd;
    border-radius: 2rem;
    border-color: #0277bd !important;
  }
  
  .divider-custom .divider-custom-icon {
    color: #0277bd !important;
  }

  .mat-icon-cabecalho{
   transform: scale(1.5);
  }

  .comofunciona {
    background-color: #ffff;
 
  }

  .comofunciona h2 {
    color: #0277bd;
    font-size: 30px;
    font-weight: bold;
    padding-top: 25px;
  }
  
  .img-fluxo{
    padding-bottom: 10px;
    text-align: center;
  }

  .about {
    background: #B0C4DE;
    margin-bottom: 30px;
  }
  
  .about h2 {
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-top: 25px;
  }
  
  .principal {
    text-align: center;
    display: table;

  }
  
  .coluna {
    width: 33.3%;
    display: table-cell;
    vertical-align: top;
    height: 75px;
    color: white;
    font-size: 25px;
    margin-left: auto;
    padding: 0 15px 25px 15px;
  }
  

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 30px;
    line-height: 30px;
    background-color: #0277bd;
    text-align: center;
    color: #ffff
  }

  
  