.btn-cadastro {
    background-color: #4682B4;
    font-weight: bold;
    color: #ffff;
}

.panel{
    margin: 5px 0 5px 0;
}

.title-text{
    color:#191970;
    font-weight: bold;
    margin: 0 5px 0 5px;
}