<div class="container">
  <div class="row box-cadastro">
    <div class="col-12">

      <mat-accordion *ngIf="doacoes.length > 0">
        <h6>Suas Doações:</h6>
        <mat-expansion-panel class="panel" *ngFor="let doacao of doacoes">
          <mat-expansion-panel-header> <div-text class="title-text">Item Doado:</div-text>{{ doacao.title }} |<div-text class="title-text"> Status:</div-text> {{
            doacao.status }}</mat-expansion-panel-header>
          <p><div-text class="title-text">Descrição:</div-text>{{ doacao.description }}</p>
          <p><div-text class="title-text">Endereço de retirada:</div-text>{{ doacao.address }}</p>
          <p><div-text class="title-text">Data de Retirada:</div-text>{{ doacao.collectionDate }}</p>
          <!-- <mat-action-row>
            <a mat-button color="primary" [routerLink]="['/editar', doacao.id]">Editar</a>
            <button mat-button color="warn" (click)="onDelete(doacao.id)">Remover</button>
          </mat-action-row> -->
        </mat-expansion-panel>
      </mat-accordion>
      <p class="mat-body-1 text-center" *ngIf="doacoes.length <= 0">
        Nenhuma doação cadastrada.
      </p>
    </div>
  </div>
</div>