<div class="wrapper-header">
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <ul class="menu-header">
                <img class="logo" src="./../../assets/images/logo.png" alt="logo doa tech">
                
                <a routerLink="" class="ancora-navbar">
                    <li>Home</li>
                </a>
                <a routerLink="cadastro-clientes" class="ancora-navbar">
                    <li>Crie sua conta</li>
                </a>
                <a routerLink="investimentos" class="ancora-navbar">
                    <li>Quem somos nós</li>
                </a>
                
            </ul>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="position-login">
                <app-login></app-login>
            </div>
        </div>
    </div>
</div>