<div class="container">
  <div class="row m-2">
    <h3 class="text-center">Você está a um passo de ajudar alguém</h3>
  </div>
  <mat-card>
    <form [formGroup]="form" (submit)="onSalvarCliente()">
      <mat-form-field>
        <input type="text"
        matInput
        placeholder="Nome"
        formControlName="nome"
        name="nome"/>
        <mat-error *ngIf="form.get('nome').invalid">Digite um nome válido</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input type="text"
        matInput
        placeholder="Enderço"
        formControlName="endereco"
        name="endereco"/>
        <mat-error *ngIf="form.get('endereco').invalid">Digite um endereço válido</mat-error>
      </mat-form-field>
      
      <div class="row">
        <div class="col-sm">
          <mat-form-field>
            <input type="text"
            matInput
            placeholder="Telefone"
            formControlName="fone"
            name="fone"/>
            <mat-error *ngIf="form.get('fone').invalid">Digite um telefone válido</mat-error>
          </mat-form-field>
        </div>

        <div class="col-sm">
          <mat-form-field>
            <input type="text" mask="DD/MM/YYYY"
            matInput
            placeholder="Data Nascimento"
            formControlName="nasc"
            name="nasc"/>
            <mat-error *ngIf="form.get('nasc').invalid">Digite um telefone válido</mat-error>
          </mat-form-field>
        </div>
      </div>

      <mat-form-field>
        <input type="text"
        matInput
        placeholder="E-mail"
        formControlName="email"
        name="email"/>
        <mat-error *ngIf="form.get('email').invalid">Digite um e-mail válido</mat-error>
      </mat-form-field>

      <div class="row">
        <div class="col-sm">
          <mat-form-field>
            <input type="password"
            matInput
            placeholder="Senha"
            formControlName="senha"
            name="senha"/>
            <mat-error *ngIf="form.get('senha').invalid">Digite um nome válido</mat-error>
          </mat-form-field>
        </div>
        
        <div class="col-sm">
          <mat-form-field>
            <input type="password"
            matInput
            placeholder="Confirmar Senha"
            formControlName="senha"
            name="senha"/>
            <mat-error *ngIf="form.get('senha').invalid">Digite um nome válido</mat-error>
          </mat-form-field>
        </div>
        
      </div>

    <button mat-raised-button="mat-raised-button" class="btn-cadastro">
      Salvar
    </button>
    </form>
  </mat-card>

</div>