<form [formGroup]="formLogin">
  <div class="form-row align-items-center">
    <div class="col-auto my-1 teste">
      <div class="form-check">
        <label class="form-check-label espacamento">
          <b>Acesse</b> sua conta
        </label>
        <input type="text" class="form-control-sm espacamento" formControlName="email" placeholder="Digite seu email"
          (keypress)="onlynumber($event)" maxlength=11>
        <input type="password" class="form-control-sm espacamento" formControlName="email" placeholder="Digite sua senha"
          (keypress)="onlynumber($event)" maxlength=11>
        
          <button type="submit" class="btn-sm btn-primary acessar-conta espacamento" (click)="login()">Acessar</button>
      </div>
    </div>
  </div>
</form>