<div class="container mt-4">
  <mat-card class="mb-4">
    <div class="inbox_msg">
      <div class="inbox_people">
        <div class="headind_srch">
          <div class="recent_heading">
            <h4>Doadores</h4>
          </div>
        </div>
        <div class="inbox_chat">
          <div *ngFor="let usuario of usuarios">
            <div class="chat_list escurece">
              <div class="chat_people">
                <div class="chat_img"> <img src="./../../assets/images/user.png" alt="cliente"> </div>
                <div class="chat_ib">
                  <h5 class="doador" (click)="toggle($event)" id="{{usuario.userId}}">{{usuario.user}}</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mesgs">
        <div class="msg_history">
          <div class="outgoing_msg"  *ngFor="let mensagem of mensagens">
            <div class="sent_msg" [ngClass]="{'sent_msg': mensagem.fromUserId === user, 'received_msg': mensagem.fromUserId !== user}">
              <p>{{ mensagem.content}}</p>
              <span class="time_date"> {{ mensagem.createdAt }} | {{ mensagem.createdHour }}</span>
            </div>
          </div>
        </div>
        <form [formGroup]="form" (submit)="onEnviarMensagem()">
          <div class="type_msg">
            <mat-form-field class="input_msg_write input-text">
              <input required type="text" placeholder="Digite uma mensagem" matInput name="content"
                formControlName="content" />
              <mat-error *ngIf="form.get('content')">O campo deve contar no mínimo 8
                caracteres</mat-error>
            </mat-form-field>
            <button class="msg_send_btn" type="submit"><i class="material-icons mt-1 ml-1"
                aria-hidden="true">send</i></button>
          </div>
        </form>
      </div>
    </div>
  </mat-card>
  <div class="row">
    <button class="btn btn-chat mb-2" (click)="backToControlDonations()">Voltar</button>
  </div>
</div>