<div class="container">
    <h3 class="text-center mt-3 mb-3">Quem está ajudando</h3>
    <div class="row mt-2 mb-3">
        <app-editar-doacao></app-editar-doacao>
    </div>
<div class="container mat-elevation-z8 mt-3 mb-3">

    <div class="header">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Código" />
        </mat-form-field>

        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Status" />
        </mat-form-field>

        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Nome Doador" />
        </mat-form-field>

    </div>

    <mat-table #table [dataSource]="dataSource" matSort aria-lable="Elements" class="mb-3">
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> Cód. </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="firstName">
            <mat-header-cell *matHeaderCellDef> Doador </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.firstName}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef> Título </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef> Descrição </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="collectionDate">
            <mat-header-cell *matHeaderCellDef> Data Retirada </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.collectionDate}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
            <mat-header-cell mat-header-cell *matHeaderCellDef> Ações </mat-header-cell>
            <mat-cell *matCellDef="let element" class="action-link"> 
              <a class="btn-color" (click)="openDialog('Editar',element)">Editar</a>
            </mat-cell>
          </ng-container>
      

        <mat-header-row mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>

</div>
    <div class="row">
        <button class="btn btn-chat mb-2" (click)="gotoChatOng()">Chat</button>
    </div> 
</div>