<div class="wrapper">
    <div class="topicos">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <ul class="topicos-footer">
                        <h6>Doações</h6>
                        <li>Monitor</li>
                        <li>Gabinete</li>
                        <li>Teclados</li>
                        <li>Mouses</li>
                    </ul>
                </div>
                <div class="col-3">
                    <ul class="topicos-footer">
                        <h6>Ongs</h6>
                        <li>Ong 1</li>
                        <li>Ong 2</li>
                        <li>Ong 3</li>
                        <li>Ong 4</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <footer class="rodape">
        <p class="text-center">&copy; Todos os Direitos reservados a
            <b>T.I. do Amanhã</b>
        </p>
    </footer>
</div>
